* {
	outline-style: none;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

footer {
	padding-left: 10px;
}

.navigation.jMenu {
	width: 100%;
	margin-top: 0.4em;
}

.flag {
	padding: .3em !important;
}

@media ( min-width : 980px) {
	.flag {
		float: right;
	}
	
	.navigation.jMenu {
		margin-top: 2.9em;
	}
	#page-content {
		margin-top: 6em;
	}
}

#form {
	min-width: 15em;
}

input {
	margin-right: 10px
}

label span {
	margin-top: 0.2em;
	float: left;
	min-width: 15em;
}

#add-vehicle span {
	min-width: 17.8em;
}

.highlighting {
	color: #68b604;
}

.tooltip-highlight {
	border-bottom: 1px dashed;
}

.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	max-width: 400px;
	box-shadow: 0 0 7px black;
	background-color: rgba(34.5%, 34.5%, 34.5%, 0.95);
	border: 2px solid white;
}

.key-value--key {
	float: left;
	min-width: 20em;
	font: bold 14px "Helvetica Neue", Sans-Serif;
}

.ui-tooltip-key {
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	float: left;
	min-width: 14.5em;
}

/* .ui-tooltip { */
/* 	position: relative; */

/* 	color: #D6D6FF; */
/* 	padding: 1em; */
/* 	left: 100px; */
/* 	top: 100px; */
/* } */
.zf-green {
	color: #68b604;
}

.btn-success {
	background-color: #57a900;
	background-image: -moz-linear-gradient(top, #70d900, #57a900);
	background-image: -ms-linear-gradient(top, #70d900, #57a900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900),
		to(#57a900));
	background-image: -webkit-linear-gradient(top, #70d900, #57a900);
	background-image: -o-linear-gradient(top, #70d900, #57a900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]
	{
	background-color: #57a900;
}

.btn-success:active,.btn-success.active {
	background-color: #57a900;
}

div.container a.brand {
	background: url("../img/jum-logo.png") no-repeat scroll 0 10px
		transparent;
	margin-left: 0;
	padding: 8px 20px 12px 86px;
}

/*
* ..:: Google maps ::..
*/
html,body {
	color: #585858;
	font-family: sans-serif;
	/* height: 96%;
	margin: 2%;
	padding: 2%; */
}

select {
	font-size: 1.3em;
}

#start_div {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	font-size: 1.5em;
}

input[type="radio"] {
	margin-right: 1em;
	margin-top: -0.1em;
}

#map_div {
	/*height: 100%;*/
	margin-bottom: 2em;
	margin-top: 1.8em;
}

#map_canvas {
	/*height: 30em;
	width: 30em;
	margin: 10px;*/
	box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.7);
	min-height: 30em;
	min-width: 30em;
	/*float: left;*/
}

#textbox {
	float: right;
	width: 25%;
	height: 80%;
	overflow: auto;
}

.hidden {
	visibility: hidden;
	display: none
}

.visible {
	visibility: visible, display:                   block
}
/*
/* * ..::::::::::::::::.. */

/*
 * ..:: JumpUpPassenger/view-bookings.phtml ::..
 */
.nofloat {
	float: none;
	/* 	display: block;	 */
	margin-bottom: 2em;
}

.trip {
	border: 1px solid rgba(82, 71, 71, 0.88);
	padding: 5px;
}

.bookinglist,.shortprofile ul {
	list-style-type: none;
}

.bookinglist {
	margin-bottom: 1.4em;
}

.booking_submit_button {
	margin-top: -0.65em;
	margin-left: 0.5em;
}

.bookingheadline,.bookingbasicform {
	float: left;
}
/* * ..::::::::::::::::::::::::::::::::::::::.. */

/*
 * short profile div in layout.phtml
 */
.shortprofile {
	float: right;
	font-weight: bold;
	padding-top: 1em;
}

/*
 * Accordion
 */
.look-up-accordion.ui-accordion {
	/* margin-left: 450px; */
	max-width: 26em;
}

.ui-accordion-header {
	background-color: #eee;
	opacity: 0.4;
	padding: 0px 8px 0px 8px;
}

.ui-accordion-content-key {
	min-width: 10.7em;
	float: left;
}

.ui-accordion-header-active {
	background-color: #eee;
	opacity: 1;
}

.userlink {
	color: #999;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.userlink:hover, .userlink:active {
	color: white;
	text-decoration: none;
}
